<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.testmybatis.mapper.ArticleMapper">

    <resultMap id="baseMap" type="com.example.testmybatis.entity.vo.ArticleInfoVO">
        <id column="id" property="id"></id>
        <id column="title" property="title"></id>
        <id column="content" property="content"></id>
        <id column="createtime" property="createTime"></id>
        <id column="updatetime" property="updateTime"></id>
        <id column="uid" property="uid"></id>
        <id column="rcount" property="rCount"></id>
        <id column="state" property="state"></id>
        <id column="username" property="username"></id>
    </resultMap>

    <select id="getById" resultMap="baseMap">
        select a.*, u.username
        from mycnblog.articleinfo a
                 left join mycnblog.userinfo u on a.uid = u.id
        where a.id = #{id}
    </select>

</mapper>