<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.testmybatis.mapper.UserMapper">
    <select id="getUserById" resultType="com.example.testmybatis.entity.UserInfo">
        select *
        from userinfo
        where id = #{userId}
    </select>

    <select id="getUserInfoAll" resultType="com.example.testmybatis.entity.UserInfo">
        select *
        from userinfo
    </select>

    <insert id="addUserInfo">
        insert into userinfo(username, password, createtime, updatetime)
        values (#{username}, #{password}, #{createTime}, #{updateTime})
    </insert>

    <!--    useGeneratedKeys="true" keyProperty="id" 这样写可以让数据库中自动生成的主键赋值给 keyProperty 中的属性 -->
    <insert id="addGetUserInfo" useGeneratedKeys="true" keyProperty="id">
        insert into userinfo(username, password, createtime, updatetime)
        values (#{username}, #{password}, #{createTime}, #{updateTime})
    </insert>

    <update id="updateUsername">
        update userinfo
        set username = #{username}
        where id = #{id}
    </update>

    <delete id="delUserById">
        delete from userinfo where id = #{id}
    </delete>

</mapper>